*{
	margin:0;
	padding:0;
	font-family: sans-serif;
}
.main{
	position: relative;
	height: 100vh;
	width: 100%;
}
.main header{
	position: relative;
	z-index: 99999;
	width: 100%;
	height: 20vh;
	overflow: hidden;
	background: #444;
}
.main header .backHome{
	position: absolute;
	z-index: 9999;
	top: 5%;
	left: 5%;
	text-decoration: none;
	background: #fff;
	color: #000;
	font-size: 1.1rem;
	font-weight: 550;
	padding:10px 15px;
	transition: 0.3s color;
	overflow: hidden;
}
.main header .backHome::before{
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	height: 100%;
	width: 0px;
	background-color: #000;
	z-index: -1;
	transition: 0.3s width;
}
.main header .backHome::after{
	position: absolute;
	content: '';
	right: -8px;
	top: 0;
	height: 100%;
	width: 15px;
	background-color: #fff;
	z-index: -1;
	transform: skewX(10deg);
}
.main header .backHome:hover::before{
	width: 100%;
}
.main header .backHome:hover{
	color: #fff;
}
.main header .right{
	position: absolute;
	z-index: 9999;
	display: flex;
	right: 0;
	top: 5%;
	padding: 10px 5px;
}
.main header .right p{
	position: relative;
	margin:0 20px;
	font-size: 1rem;
	font-weight: 550;
	text-transform: capitalize;
}
.main header .right p span{
	color: #2ecc17;
}
.main header .right button{
	position: relative;
	font-size: 0.80rem;
	padding:10px 15px;
	margin-top: -10px;
	border:1px solid #194056;
	background-color: #194056;
	color: #fff;
	font-weight: 700;
	border-radius: 5px;
	margin-right: 5px;
}
.main header .right button:hover{
	cursor: pointer;
	background: #194056e5;
}
.main header .logo{
	position: relative;
	width: 100%;
	height: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 800;
	background:#fff;
	color:#194056;
	font-size: 2rem;
	text-decoration: none;
}
.main header .logo::before{
	position: absolute;
	content: '';
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 25%;
	height: 5px;
	background-color: #194056;
}
.main header .logo::after{
	position: absolute;
	content: '';
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 25%;
	height: 5px;
	background-color: #194056;
}
.main header .logo span{
	color: #017bf5;
	margin:0 5px;
}
.main header ul{
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #194056;
}
.main header ul li{
	list-style-type: none;
	display: inline-block;
	height: 100%;
	margin:0 5px;
}
.main header ul li a{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: inherit;
	width: 100%;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	padding:10px 15px;
}
.main header ul li.active a,
.main header ul li a:hover,
.main header ul li.active a::before,
.main header ul li a:hover::before,
.main header ul li.active a::after,
.main header ul li a:hover::after{
	color: #fff;
	opacity: 1;
}
.main header ul li a::before{
	position: absolute;
	content: '';
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 75%;
	height: 100%;
	border-right:2px solid  #fff;
	border-left:2px solid  #fff;
	transition: 0.3s opacity;
	opacity: 0;
}
.main header ul li a::after{
	position: absolute;
	content: '';
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 85%;
	height: 100%;
	border-right:5px solid  #fff;
	border-left:5px solid  #fff;
	transition: 0.3s opacity;
	opacity: 0;
}
.main .data{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 15px 0;
}
.main .data h1{
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	padding: 25px 0;
	font-size: 3.5rem;
	font-weight: 800;
	color: #194056;
}
.main .data form{
	position: relative;
	width: 35%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 1.2rem;
	font-weight: 550;
	color: #194056;
	padding:5px 15px;
}
.main .data form .form-group{
	position: relative;
	width: 100%;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.main .data form .form-group:nth-child(4){
	height: 250px;
}
.main .data form .form-group textarea{
	position: relative;
	width: 100%;
	height: 100%;
	padding:20px 15px;
	font-size: 1.2rem;
	resize: none;
}
.main .data form .form-group input:not([type="radio"]){
	position: relative;
	width: 100%;
	height: 100%;
	outline: none;
}
.main .data form .form-group input:not([type="radio"]),
.main .data form .form-group input:not([type="submit"]){
	padding:5px 15px;
	font-size: 1.2rem;
	outline: none;
}
.main .data form .form-group input[type="radio"]{
	position: relative;
	-webkit-appearance:none !important;
	appearance:none !important;
	border:1.5px solid #194056;
	height: 25px;
	width: 25px;
	padding: 0;
	cursor: pointer;
	outline: none;
	border-radius: 50%;
}
.main .data form .form-group input[type="radio"]::before{
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 70%;
	width: 70%;
	border-radius: 50%;
	background-color: #fff;
}
.main .data form .form-group input[type="radio"]:checked::before{
	background:#194056;
}
.main .data form .form-group input[type="submit"]{
	background: #194056;
	border:1px solid #194056;
	color: #fff;
	font-weight: 550;
	letter-spacing: 1px;
	cursor: pointer;
	font-size: 0.99rem;
	margin-top: -10%;
}


::-webkit-scrollbar{
	width: 5px;
}
::-webkit-scrollbar-thumb{
	background-color: #194056a5;
	border-radius: 10px;
}